@tailwind base;
@tailwind components;
@tailwind utilities;




#tesBanner{
    background-image: url('../src//assets/Tesbanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../src//assets/Tesbanner.png');
    width: 100%;
    /* height: 70vh; */
}

#serviceimage{
    background-image: url('../src/assets/serv1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#serviceimage2{
    background-image: url('../src/assets/serv2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#serviceimage3{
    background-image: url('../src/assets/serv3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#serviceimage4{
    background-image: url('../src/assets/serv1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bannerSide{
    background-image: url('../src/assets/blob\(1\).svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 100%; */
}

#authbanner{
    background-image: url('../src/assets/loginBanner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.active{
    background:linear-gradient(to right, #ad54f0, #e549a3);
    color: white !important;
    padding: 3px;
    border-radius: 50px;
    width: 100px;
    text-align: center;
}

.activeSidebar{
    background: none;
}


